<html>
    <body>
        <h2>Hi {{ name }},</h2>

        <h4>Thanks so much for getting in touch! You sent the following message to me at jared.orion.selcoe@gmail.com
            using my personal website <a href="http://www.orions-nebula.com">www.orions-nebula.com</a>:</h4>

        <i>{{ message | raw }}</i>

        <h4>I'll follow up as soon as I am able. Have a great day!</h4>
        <h4>Jared</h4>
    </body>
</html>