/* ########################## BACKGROUND ########################## */
/* set background as fixed image */
#background {
    position: fixed;
    top: 0;
    left: 0;
    /* preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}

/*body {*/
/*background: url("../images/main/orion-nebula_2000x2000.jpg") no-repeat fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/






/* ########################## NAV BAR ########################## */
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
    background-color: #000000;
}

.fixed-nav-bar li, .fixed-nav-bar a {
    font: 40px Arial;
}

.menu {
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #ffffff;
    transition: .5s;
}

.menu-items {
    display: inline-block;
}

.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-items a {
    text-decoration: none;
}

.menu-items a:hover, .menu-items a:active, .menu-items a:target {
    color: #b3b3b3;
    transition: .3s;
}

.menu-img {
    height: 35px;
    width: 35px;
    transition: .5s;

    /* NOTE: webkit only works on Safari and Chrome */
    -webkit-transition: -webkit-filter .5s;
    -webkit-transition: .3s;
}

.menu-img:hover {
    transition: .5s;

    /* NOTE: webkit only works on Safari and Chrome */
    -webkit-filter: brightness(75%);
    -webkit-transition: .5s;
}






/* ########################## GENERAL FORMATTING ########################## */
.content, .content-reactive {
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 600px;
    /* sets 50px margin to top and bottom, centers horizontally */
    margin: 50px auto;
    padding: 20px;
    background: #000000;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}

.content-reactive {
    transition: .5s;
}

.content-thin {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-wide {
    width: auto;
}

/* for showing multiple content divs side by side (like in the artwork portfolio) */
.content-reactive-grid, .content-grid {
    color: #ffffff;
    position: relative;
    z-index: 2;
    width: 600px;
    /* sets 50px margin to top, bottom and left */
    margin: 50px 50px auto;
    /* allows multiple per line based on screen width */
    display: inline-block;
    padding: 20px;
    background: #000000;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
    transition: .5s;
}

/* centering grids */
.grid-wrapper {
    position: relative;
    height: auto;
    width: auto;
    display: block;
    text-align: center;
}

/* some content divs should be reactive to mouseover */
.content-reactive:hover, .content-reactive-grid:hover {
    -moz-box-shadow: 0 0 40px #000000;
    -webkit-box-shadow: 0 0 40px #000000;
    box-shadow: 0 0 40px #000000;
    transition: .5s;
}

.content-home {
    width: 250px;
}

.content p, .content h1, .content-reactive p, .content-reactive h1, .content-reactive-grid p, .content-reactive-grid h1, .home-list li {
    font-family: Arial;
    /* margin: 0 0 30px 0; */
    /* text-indent: 40px; */
    color: #ffffff;
}

/* remove underline from hyperlinks */
.button-link {
    text-decoration: none;
}






/* ########################## MISC. FORMATTING ########################## */
/* text-centering div */
.center {
    text-align: center;
}

/* 60 px text */
#large {
    font: 60px Arial;
    /*font-variant: small-caps;*/
}

#medium {
    font: 40px Arial;
    /*font-variant: small-caps;*/
}

#small {
    font: 25px Arial;
    /*font-variant: small-caps;*/
}

/* thinner border (good for combining with #large) */
.thin-border {
    margin: auto;
}

/* reduce margin manually */
.margin-top-10 {
    margin-top: 10px;
}






/* ########################## SPACER DIVS ########################## */
.spacer-100 {
    margin: 100px auto;
}

.spacer-150 {
    margin: 150px auto;
}

.spacer-250 {
    margin: 250px auto;
}

.spacer-horizontal-100 {
    padding-left: 50px;
}






/* ########################## HOME PAGE ########################## */
.home-list {
    padding: 0;
    list-style-type: none;
    text-align: left;
}






/* ########################## PORTFOLIO ########################## */
/* create a 180x180 container for image */
.port-img {
    width: 180px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: auto;
    display: inline-block;
    /* stops img and desc from offsetting vertically */
    overflow: hidden;
}

/* create a 396x?? container for description */
.port-desc {
    /* why are there 4 extra pixels on the right side of portImg? */
    width: 396px;
    height: 180px;
    margin-bottom: auto;
    display: inline-block;
    /* stops img and desc from offsetting vertically */
    overflow: hidden;
}






/* ########################## CONTACT ########################## */
.contact {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact input[type="text"], .contact input[type="email"] {
    width: 600px;
    height: 30px;
    margin-bottom: 15px;
}

.contact textarea {
    width: 600px;
    height: 150px;
    font: 12px Arial;
    margin-bottom: 15px;
}

.contact input[type="submit"] {
    width: 250px;
    height: 30px;
    font: 18px Arial;
    margin-left: 175px;
    border: none;
    background: white;
    transition: .5s;
}

.contact input[type="submit"]:hover {
    background: #B3B3B3;
    /* removes ugly edge to button */
    border: none;
    transition: .5s;
}

.contact-msg {
    font: 16px Arial;
    text-align: center;
}






/* ########################## ABOUT ME ########################## */
.about-wrapper {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    font-family: Arial;
}

.about-left {
    height: auto;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background: black;
    padding: 0 10px 0 10px;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
    position: relative;
}

.about-right {
    height: auto;
    display: block;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background: black;
    padding: 0 10px 0 10px;
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
    position: relative;
}

.about-quote {
    width: 480px;
}

.about-img {
    /*width: 440px;*/
    width: auto;
    height: 500px;

    /* added for img */
    padding: 0;
    margin-right: 20px;
}

.about-img img {
    margin: auto;
}

.about-resume {
    display: block;
    float: right;
    width: 340px;
    height: 60px;
    color: white;
    background: black;
    position: relative;
    margin: 10px 45px 0 0;
    font: 30px Arial;
    text-align: center;
    line-height: 60px;
    /*font-variant: small-caps;*/
}

.about-resume:hover {
    -moz-box-shadow: 0 0 40px #000000;
    -webkit-box-shadow: 0 0 40px #000000;
    box-shadow: 0 0 40px #000000;
    transition: .5s;
}

.about-social-media {
    width: 440px;
    height: 85px;
    display: inline;
}

.about-social-media img {
    height: 85px;
    width: auto;
    display: block;
    float: right;
    margin: 20px 55px 20px 95px;
    position: relative;
    transition: .5s;
}

.about-social-media img:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.9));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.9));
    transition: .5s;
}

.about-info {
    width: 480px;
}

.about-link {
    color: #9b9b9b;
}