{% extends '::base.html.twig' %}

{% block title %}
    About Orion
{% endblock title %}

{% block body %}

    <div class="spacer-100"></div>
    <div class="content content-wide">
        <div class="center">
            <h1 class="thin-border" id="large">About Me</h1>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="content about-left about-quote">
            <p>Somewhere, something incredible is waiting to be known.</p>
            <p style="text-align:right;"><i>-Carl Sagan</i></p>
        </div>
        <div class="about-right about-img">
            <img class="about-img" src="{{ asset('bundles/orionsnebula/images/main/profile.jpg') }}" alt="Jared's Github" title="Jared's Github" />
        </div>
        <div class="about-left about-info">
            <p>
                Hi, I'm Jared - a programmer and artist with a background in marketing living in beautiful Austin, Texas.
            </p>
            <p>
                Given my educational background, my career started with 3 years as an SEM analyst for
                <a class="about-link" target="_blank" href="http://www.360partners.com/">360Partners</a>. However,
                during that time I came to realize that my favorite part of my job is creating dynamic Excel reports
                and data analysis tools. After this epiphany I quickly realized that programming was the next logical step.
            </p>
            <p>
                After self-teaching for a year, I realized that I needed professional guidance to get to the next level,
                so in June 2015 I began taking backend-focused web development night courses through
                <a class="about-link" target="_blank" href="https://austincodingacademy.com/">Austin Coding Academy</a>.
                I completed their track of Beginner, Intermediate, and Advanced courses as of mid-April 2016.
            </p>
            <p>
                Shortly after that I thankfully found a wonderful company that was willing to take a chance on a completely
                junior dev - my current employer <a class="about-link" target="_blank" href="https://moove-it.com/">Moove It</a>.
                Because of the opportunity that they gave me, I now have an incredible job that I can't wait to do every day.
                I get to solve interesting problems, take ownership over my path through the company, and feel like I'm
                always learning.
            </p>
            <p> 
                With the extensive amount of full stack development work I've done with Moove It as well as on my own time,
                I have had the chance to learn the standards of the moment - Node (React, Redux, Angular, Express), MongoDB,
                MSSQL, nginx - as well as some more exotic and fun technologies like GraphQL, and Elasticsearch/Logstash/Kibana.
                In only a few short years I have managed to completely change industries and find what is undoubtedly my lifetime
                career, and absolutely cannot wait to see what my future in the field holds.
            </p>
            <p>
                If you're curious about some of the work I did while learning to code back in 2015/16, you can see it on
                my <a class="about-link" target="_blank" href="/programming">portfolio</a> page. I also built this whole
                website (styling, icons, and all) from the ground up too - no bootstrap necessary! I made this site
                at the same time as the portfolio projects, and have just been updating this About section every few years.
                If you wan't to see much new stuff, sorry! It's basically all in private repos for either my clients or my
                side projects I'm working on, which aren't super shareable.
            </p>
            <p>
                I have finally gained the ability to wed my artistic abilities with the creative powers of the web and can't
                wait to see where this incredible industry takes me!
            </p>
            <p>
                If you would like to talk with me more please don't hesitate to reach out - you can email me through my
                <a class="about-link" href="/contact">contact form</a> or send me a message through
                <a class="about-link" href="https://www.linkedin.com/in/jared-selcoe" target="_blank">LinkedIn</a>
                if you would prefer.
            </p>
        </div>
        <div class="about-social-media">
            <a href="https://www.linkedin.com/in/jared-selcoe" target="_blank">
                <img class="about-social-media" src="{{ asset('bundles/orionsnebula/images/main/linkedin_black.png') }}" alt="Jared's LinkedIn" title="Jared's LinkedIn"/>
            </a>
            <a href="https://www.github.com/jorions" target="_blank">
                <img class="about-social-media" src="{{ asset('bundles/orionsnebula/images/main/github_black.png') }}" alt="Jared's Github" title="Jared's Github" />
            </a>
        </div>
        <a href="{{ asset('bundles/orionsnebula/files/Resume.pdf') }}" download>
            <div class="about-resume">
                Download My Resume
            </div>
        </a>
    </div>

{% endblock body %}
