{% extends '::base.html.twig' %}

{% block title %}
    About Orion
{% endblock title %}

{% block body %}

    <div class="spacer-100"></div>
    <div class="content content-wide">
        <div class="center">
            <h1 class="thin-border" id="large">About Me</h1>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="content about-left about-quote">
            <p>Somewhere, something incredible is waiting to be known.</p>
            <p style="text-align:right;"><i>-Carl Sagan</i></p>
        </div>
        <div class="about-right about-img">
            <img class="about-img" src="{{ asset('bundles/orionsnebula/images/main/profile.jpg') }}" alt="Jared's Github" title="Jared's Github" />
        </div>
        <div class="about-left about-info">
            <p>
                Hi, I'm Jared - a programmer and artist with a background in marketing living in beautiful Austin, Texas.
            </p>
            <p>
                Given my educational background, my career started with 3 years as a Junior and then Senior SEM Analyst
                for <a class="about-link" target="_blank" href="http://www.360partners.com/">360Partners</a>. However,
                during that time I came to realize how much I enjoy highly technical work. It started when I discovered
                over 2 years ago that my favorite part of my job is creating dynamic Excel reports and data analysis tools.
                Shortly after this epiphany I realized that programming was the next logical step, and have been working
                to build my knowledge ever since.
            </p>
            <p>

                I have taken CodeSchool, Codecademy, Coursera, and <a class="about-link" target="_blank" href="https://www.freecodecamp.com/jorions">FreeCodeCamp</a>
                classes, and starting in June 2015 I began taking backend-focused web development night courses through
                <a class="about-link" target="_blank" href="https://austincodingacademy.com/">Austin Coding Academy</a>.
                I completed their track of Beginner, Intermediate, and Advanced courses as of mid-April 2016.
            </p>
            <p>
                During my time with ACA I developed knowledge of PHP, HTML, CSS, and JavaScript (including the jQuery library),
                the Laravel, Symfony, and Backbone.js frameworks, and general web development skills including Amazon EC2
                and RDS deployment, basic Apache server configuration, MySQL, and working with Git. I have also created
                many small applications and several larger ones which can be seen on my <a class="about-link" target="_blank" href="/programming">portfolio</a>
                page, and built this whole website (styling, icons, and all) from the ground up too - no bootstrap necessary!
            </p>
            <p>
                I'm deeply passionate about pursuing a career in the exciting field of web development - in fact I recently
                left my Senior Analyst role at 360Partners to pursue my new career full-time. I have finally gained the
                ability to wed my artistic abilities with the creative powers of the web and can't wait to see where this
                incredible industry takes me!
            </p>
            <p>
                If you would like to talk with me more please don't hesitate to reach out - you can email me through my
                <a class="about-link" href="/contact">contact form</a> or send me a message through
                <a class="about-link" href="https://www.linkedin.com/pub/jared-selcoe/33/26a/ab3" target="_blank">LinkedIn</a>
                if you would prefer.
            </p>
        </div>
        <div class="about-social-media">
            <a href="https://www.linkedin.com/in/jared-selcoe" target="_blank">
                <img class="about-social-media" src="{{ asset('bundles/orionsnebula/images/main/linkedin_black.png') }}" alt="Jared's LinkedIn" title="Jared's LinkedIn"/>
            </a>
            <a href="https://www.github.com/jorions" target="_blank">
                <img class="about-social-media" src="{{ asset('bundles/orionsnebula/images/main/github_black.png') }}" alt="Jared's Github" title="Jared's Github" />
            </a>
        </div>
        <a href="{{ asset('bundles/orionsnebula/files/Resume.pdf') }}" download>
            <div class="about-resume">
                Download My Resume
            </div>
        </a>
    </div>

{% endblock body %}