{% extends '::base.html.twig' %}

{% block title %}
    About Orion
{% endblock title %}

{% block body %}

    <div class="spacer-100"></div>
    <div class="content content-wide">
        <div class="center">
            <h1 class="thin-border" id="large">About Me</h1>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="content about-left about-quote">
            <p>Somewhere, something incredible is waiting to be known.</p>
            <p style="text-align:right;"><i>-Carl Sagan</i></p>
        </div>
        <div class="about-right about-img">
            <img class="about-img" src="{{ asset('bundles/orionsnebula/images/profile.jpg') }}" alt="Jared's Github" title="Jared's Github" />
        </div>
        <div class="about-left about-info">
            <p>
                Hi, I'm Jared. I am an artist and aspiring programmer currently working as an SEM Senior Analyst at
                <a class="about-link" target="_blank" href="http://www.360partners.com/">360Partners</a> in Austin, Texas.
            </p>
            <p>
                While my educational background is in the field of marketing, over the course of my career with 360Partners
                I have come to realize how much I enjoy highly technical work. It started when I discovered 2 years ago
                that my favorite part of my job is creating dynamic Excel reports and data analysis tools. Shortly after
                this epiphany I realized that programming was the next logical step, and have been working to build my knowledge
                ever since.
            </p>
            <p>
                I have taken CodeSchool, Codecademy, and Coursera classes, and starting in June 2015 I began taking backend-focused
                web development night courses through <a class="about-link" target="_blank" href="https://austincodingacademy.com/">Austin Coding Academy</a>.
                I have worked through their Beginner and Intermediate courses, and as of mid-April will have completed
                their Advanced course as well.
            </p>
            <p>
                During my time with ACA I have developed knowledge of PHP, HTML, CSS, and some JavaScript, the
                Laravel, Symfony, and Backbone.js frameworks, and general web development skills including EC2 deployment,
                basic Apache server configuration, and working with git. I have created many small applications and several
                larger ones which can be seen on my <a class="about-link" target="_blank" href="/programming">portfolio</a>
                page, and built this whole website (images, icons, formatting, and all) from the ground up too - no bootstrap
                necessary!
            </p>
            <p>
                Most importantly though, I have finally gained the ability to wed my artistic abilities with the creative
                powers of the web - I'm deeply passionate about pursuing a career in the exciting field of web development,
                and can't wait to see where this incredible industry takes me!
            </p>
            <p>
                If you would like to talk with me more please don't hesitate to reach out - you can email me through my
                <a class="about-link" href="/contact">contact form</a> or send me a message through
                <a class="about-link" href="https://www.linkedin.com/pub/jared-selcoe/33/26a/ab3" target="_blank">LinkedIn</a>
                if you would prefer.
            </p>
        </div>
        <div class="about-social-media">
            <a href="https://www.linkedin.com/pub/jared-selcoe/33/26a/ab3" target="_blank">
                <img class="about-social-media" src="{{ asset('bundles/orionsnebula/images/linkedin_black.png') }}" alt="Jared's LinkedIn" title="Jared's LinkedIn"/>
            </a>
            <a href="https://www.github.com/jorions" target="_blank">
                <img class="about-social-media" src="{{ asset('bundles/orionsnebula/images/github_black.png') }}" alt="Jared's Github" title="Jared's Github" />
            </a>
        </div>
        <a href="{{ asset('bundles/orionsnebula/files/Resume.pdf') }}" download>
            <div class="about-resume">
                Download My Resume
            </div>
        </a>
    </div>

{% endblock body %}