{% extends '::base.html.twig' %}

{% block title %}
    Orion's Nebula
{% endblock title %}

{% block body %}

    <div class="spacer-250"></div>
    <div class="content content-wide">
        <div class="center">
            <h1 class="thin-border" id="large">Jared Orion Selcoe</h1>
        </div>
    </div>
    <div class="content">
        <div class="center">
            <p>I am an artist and aspiring programmer with a background in digital marketing.</p>
            <p>Explore my site to see my work, credentials, and contact info.</p>
        </div>
    </div>


{% endblock body %}