{% extends '::base.html.twig' %}

{% block title %}
    Orion's Nebula
{% endblock title %}

{% block body %}

    <div class="spacer-250"></div>
    <div class="content content-wide">
        <div class="center">
            <h1 class="thin-border" id="large">Jared Orion Selcoe</h1>
            <p id="small">Artist and aspiring programmer</p>
        </div>
    </div>
    <div class="grid-wrapper">
        <a class="button-link" href="/programming">
            <div class="content-reactive-grid content-home">
                <h1 class="thin-border" id="medium">Languages</h1>
                <ul class="home-list">
                    <li>PHP</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li></li>
                </ul>
            </div>
        </a>
        <a class="button-link" href="/programming">
            <div class="content-reactive-grid content-home">
                <h1 class="thin-border" id="medium">Frameworks</h1>
                <ul class="home-list">
                    <li>Symfony</li>
                    <li>Laravel</li>
                    <li>Backbone.js</li>
                    <li>Bootstrap</li>
                    <li></li>
                </ul>
            </div>
        </a>
        <a class="button-link" href="/programming">
            <div class="content-reactive-grid content-home">
                <h1 class="thin-border" id="medium">Other</h1>
                <ul class="home-list">
                    <li>Amazon EC2</li>
                    <li>Amazon RDS</li>
                    <li>Basic Apache Server Setup</li>
                    <li>git</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </a>
    </div>


{% endblock body %}